@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&family=Sacramento&display=swap");

:root {
  --red: #aed3b4;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;

}

*::selection {
  background: var(--red);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
}

section {
  padding: 2rem 9%;
}

.logo{
      margin-top: 1rem;
}

.tilana{
  font-size: 5rem;
  text-decoration: underline;
 font-family: "Sacramento", cursive;
  color: #AED3B4;
  font-weight: 900;
}
.menu {
  background-color: #FFFFFF;
  color: #181818;
  height: 70px;
   
}
.menu__container {
  display: flex;
  position: relative;
  justify-content: space-between;
   z-index: 1000;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.menu__links {
  height: 100%;
  transition: transform 0.5s;
  display: flex;
}



.menu__item {
  list-style: none;
  position: relative;
  height: 100%;
  background-color: #FFFFFF;
  --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}

.menu__item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
  background-color: #AED3B4;
}

.menu__link {
  color: #181818;
  text-decoration: none;
  padding: 0 30px;
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 14px;
}

.menu__link:hover {
  background-color: #AED3B4;
}

.menu__arrow {
  transform: var(--transform);
  transition: transform 0.3s;
  display: block;
  margin-left: 3px;
}
.menu__nesting {
  list-style: none;
  transition: clip-path 0.3s;
  clip-path: var(--clip);
  position: absolute;
  right: 0;
  bottom: 0;
  width: max-content;
  transform: translateY(100%);
  background-color: #FFFFFF;
  z-index: 1000;
}

.menu__link--inside {
  padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover {
  background-color: #AED3B4;
}

.menu__hamburger {
  display: none;
}

@media (max-width: 800px) {

  .menu{
    background-color: #E2D8C5;
    }
  .menu__hamburger {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
  }

  .menu__item {
    --clip: 0;
    overflow: hidden;
  }

  .menu__item--active{
      --transform: rotate(0)
      --background: blue;
  }

 .menu__item--show{
     background-color: var(--background);
 }

  .menu__links {
    position: fixed;
    width: 100%;
    top: 70px;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #E2D8C5;
    overflow-y: auto;
    display: grid;
    grid-auto-rows: max-content;
    transform: translateX(100%);
  }

  .menu__links--show{
      transform: unset;
      width: 100%;
  }

  .menu__link {
    padding: 25px 0;
    padding-left: 30px;
    height: auto;
    background-color: #E2D8C5;
  }

  .menu__arrow {
    margin-left: auto;
    margin-right: 20px;
  }

  .menu__nesting {
    display: grid;
    position: unset;
    width: 100%;
    transform: translateY(0);
    height: 0;
    transition: height 0.3s;
    z-index: 1000;
  }

  .menu__link--inside {
    width: 90%;
    margin-left: auto;
    border-left: 1px solid #AED3B4;
  }
}


.heading {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  color: #434343;
}

.parrafo {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 2rem;
}

.nat {
  font-family: "Sacramento", cursive;
  font-size: 8rem;
}

.nat:hover {
  color: var(--red);
}

.heading span {
  color: var(--red);
}

.btn {
  display: inline-block;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--red);
  color: var(--red);
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  z-index: 0;
  margin-top: 1rem;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background: var(--red);
  transition: 0.3s linear;
  z-index: -1;
}

.btn:hover::before {
  width: 100%;
  left: 0;
}

.btn:hover {
  color: #fff;
}

.home {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  min-height: 100vh;
  align-items: center;
  background: url(./images/home-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  flex: 1 1 40rem;
  padding-top: 6.5rem;
}

.home .image {
  flex: 1 1 40rem;
}

.home .image img {
  max-width: 100%;
  padding: 1rem;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(3rem);
  }
}

.home .content h3 {
  font-size: 5rem;
  color: #333;
}

.home .content p {
  font-size: 1.7rem;
  color: #666;
  padding: 1rem 0;
}

.speciality .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
  background-image: url("./images/Rectangle 1.png");
}

.speciality .box-container .box {

  position: relative;
  flex: 1 1 40rem;
}

.speciality .box-container .box .image {
  height: 40rem;
  border-radius: 0.5rem;
}

.speciality .box-container .box .content {
  text-align: center;
}

.speciality .box-container .box .content img {
  margin: 1.5rem 0;
}

.speciality .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.speciality .box-container .box .content p {
  font-size: 1.6rem;
  color: #666;
  padding: 1rem 0;
}

.popular .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 4rem;
}

.popular .box-container .box {
  padding: 2rem;
  text-align: center;
  flex: 1 1 30rem;
  position: relative;
}

.popular .box-container .box img {
  height: 40rem;
  border-radius: 0.5rem;
}

.popular .box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding-top: 1rem;
}


.footer {
  background: #b8aca6;
  text-align: center;
}

.info1 {
    text-align: justify;
    font-size: 1.5rem;
    margin: 1rem;
    padding: 0.5rem;
}

.footer .info {
  display: flex;
  text-align: justify;
  justify-content: space-between;
}

.footer .info h3 {
  text-transform: uppercase;
  text-decoration: overline var(--red);
}

.footer .share {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.footer .credit {
  padding: 2.5rem 1rem;
  color: #000000;
  font-weight: normal;
  font-size: 1.5rem;
}





/* Slider vertical */
#prodetails {
  display: flex;
  margin: 1rem;
}
#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}

#prodetails .single-pro-details h4 {
  padding: 40px 0 20px 0;
}
#prodetails .single-pro-details h2 {
  font-size: 26px;
}

/* ==== COMO COMPRAR SECTION ====*/

.como-info {
  margin-top: 1rem;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
}
h3 {
  margin-bottom: 2rem;
}
span {
  text-decoration: underline red;
}

.mapouter {
  position: relative;
  text-align: center;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 174px;
}

/* media queries  */

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 2rem;
  }
}


@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .order .row form .inputBox input {
    width: 100%;
  }

  .grid-image {
    width: 300px;
  }

  /*slider product */
  #prodetails {
    display: flex;
    flex-direction: column;
  }
  #prodetails .single-pro-image {
    width: 100%;
    margin-right: 0px;
  }
  #prodetails .single-pro-details {
    width: 100%;
  }
}

/* === BLOG === */
figure {
  margin: 0;
}

.wrapper {
 display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, auto);
    margin: 3rem;
    max-width: 1000px;
    position: relative;
}

.wrapper > * {
  grid-column: 1 / span 2;
}

.encabezado {
    font-size: 1.5em;
    grid-row: 1;
    grid-column: 1;
    word-break: break-word;
}

.encabezado:after {
  background: #aed3b4;
  content: "";
  display: block;
  height: 20px;
  width: auto;
  margin: 1rem;
}

.article {
  color: black;
  font-size: 1.5rem;
}
.article-1{
  font-size: 1.5rem;
  font-style: italic;
}
.featured-image-1 {
    grid-row: 2;
    grid-column: 1;
}

.number-1 {
  grid-row: 4;
  margin-left: 3rem;
  grid-column: 1;
}

.featured-image-2,
.number-2 {
  grid-row: 3 / 4;
}

.number-4 {
  align-self: end;
  grid-column: 1;
}

.article-4 {
  grid-column: 1;
}

.featured-image-2,
.number-2 {
  align-self: end;
}

.number-2 {
  color: black;
  font-size: 1.5rem;
  justify-self: end;
}


img{
  max-width: 100%;
}
.featured-image-3 img {
  max-width: 100%;
}

.number-4 {
  font-size: 320px;
  left: -20px;
  line-height: 320px;
  position: absolute;
}

.featured-image-4{
  grid-row: 9;
    grid-column: 1;
    text-align: center;
}

@media (min-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr 2fr);
    margin: 24px auto;

  }

  .encabezado {
    grid-column: 1 / span 3;
    width: 70%;
  }

  .featured-image-1 {
    grid-row: 1;
    grid-column: 4;
  }

  .article-1 {
    grid-column: 1/5;
    grid-row: 7;
    text-align: center;
    color: black;
    font-size: 1.5rem;
  }

  .article-2 {
    grid-column: 1/3;
    grid-row: 3;
  }
.number-1 {
  grid-row: 2;
  margin-left: 3rem;
  grid-column: 2;
}
  .number-2 {
    grid-column: 3 / 5;
    grid-row: 2;
  }

  .featured-image-3 {
    grid-row: 4;
    grid-column: 2;
  }

  .featured-image-4 {
    grid-column: 3 / 5;
    grid-row: 6;
  }

  .number-4 {
    font-size: 320px;
    grid-row: 5 / 7;
  }

  .article-3 {
    grid-row: 5;
  }

  .article-4 {
    grid-column: 4;
    grid-row: 4;
  }
}
